body, h1, h2, h3, p, ul, li {
  font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {

  background-image: url("bodypic.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.section {
  padding-bottom: 20px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;   
  max-height: 65px;
  }

  .logo {
    margin-left: 5%;
    margin-top: 0.3%;
    cursor: pointer;
  }
  
  .logo img {
    max-width: 4%;
    height: auto;
  }

  .animation {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: left 0.6s;
    z-index: -1;
  }

  #about {
    font-size: 22px;
    margin-top: 31.5%;
    text-align: left;
    margin-left: 15%;
    color: white;
  } 

  p {
    line-height: 1.5;
  }

  #about h2 {
      color: white;
    }

  h1 {
    color: #ffffff;
    text-align: left;
    font-size: 30px;
    margin-top: 15%;
    margin-left: 5%;
  }

  h3 {
    color: white;
    text-align: left;
    font-size: 40px;
    margin-top: 7%;
    margin-left: 15%;
  }
#contact p {
  margin-top: 0.5%;
  margin-bottom: 1%; /* Adjust the '5px' value to your liking */
  margin-left: 15%;
  font-size: 20px;
  color: white;


}

    h4 {
    color: white;
    text-align: left;
    font-size: 40px;
    margin-top: 7%;
    margin-left: 15%;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    
  }
  
  nav li {
    display: inline-flex;
    font-size: 10px;
    position: relative;
    transform: translateY(-4em);
  }

  nav li:not(:last-child) {
    margin-right: 3%;
  }
  
  nav a {
    font-size: 30px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  nav a::after {
    content: '';
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #000;
    transition: width 0.3s ease;
  }
  
  nav a:hover::after {
    width: 100%;
  }
  
  

  .custom-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    border: 2px solid #FF4F4B;
    cursor: crosshair;
  }

  .custom-button2 {
    background-color: rgb(255, 76, 79);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    border: 2px solid #ffffff;
    cursor: pointer;
  }

  .custom-button2:hover {
    background-color: rgb(243, 100, 102);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    border: 2px solid #ffffff;
    cursor: pointer;
  }

footer {
  text-align: center;
  padding: 15px;
  color: white;
}